* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1827e;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
nav ul li {
    display: inline-block;
    
}
nav ul li a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    
}
nav ul li a:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
    
}
.image1 {
    width: 100%;
    height: 288px;
    margin-top: 32px;
}
.image1jpg {
    width: 100%;
    height: 288px;
    object-fit: cover;
    z-index: 1;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) ;
}
h1{
    color: white;
    margin-left: 128px;
    margin-top: -192px;
    font-weight: 1;
    opacity: 1;
    font-size: 64px;
}
h2{
    color: white;
    margin-left: 148px;
    margin-top: 8px;
    font-weight: 1;
}
.h2cennik {
    padding-top: 128px;
    margin-left: 64px;
}
.samochody {
    color: white;
    margin-top: 64px;
    margin-left: 64px;
    font-size: 24px;
}
.galeria {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.auto1 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto1jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.auto2 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto2jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.auto3 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto3jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.auto4 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto4jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.auto5 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto5jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.auto6 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    border-radius: 64px;
}
.auto6jpg {
    width: 650px;
    height: 512px;
    border-radius: 64px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
table.tabelka {
    align-items: center;
    margin: auto;
    margin-top: 96px;
    width: 700px;
    background-color: #333333;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    color: #FFFFFF;
}
table.tabelka td, table.tabelka th {
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    width: 300px;
} 
table.tabelka thead {
    background-color: #f1827e;
}
footer {
    margin-top: 64px;
    background-color: #444;
    color: #fff;
    padding: 40px;
    text-align: center;
    bottom: 0;
}
  footer p {
    text-align: center;
    width: 100%;;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}
@media only screen
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
label::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    } 
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 64px;
    margin-top: 100px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}
@media only screen and (max-width: 768px) {
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1;
    }
label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
label::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }   
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}


    