* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1827e;
} 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
} 
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
nav ul li a:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
}
footer {
    margin-top: 64px;
    background-color: #444;
    color: #fff;
    padding: 40px;
    text-align: center;
    bottom: 0;
} 
  footer p {
    text-align: center;
    width: 100%;;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}
@media only screen
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
.menu::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }    
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }  
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}
.image1 {
    width: 100%;
    height: 288px;
    margin-top: 32px;
}
.image1jpg {
    width: 100%;
    height: 288px;
    object-fit: cover;
    z-index: 1;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) ;
}
h1{
    color: white;
    margin-left: 128px;
    margin-top: -192px;
    font-weight: 1;
    opacity: 1;
    font-size: 64px;
}
h2{
    color: white;
    margin-left: 148px;
    margin-top: 8px;
    font-weight: 1;
}
form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 5px;
    margin-top: 192px;
    background-color: #444;
    color: white;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: #777;
}
  input[type="submit"] {
    background-color: #f1827e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #f1827e;
}
.textarea {
    height: 300px;
}
@media only screen
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1;
    }
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
.menu::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    } 
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    } 
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 64px;
    margin-top: 100px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}
@media only screen and (max-width: 768px) {
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1;
    }
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
.menu::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}