* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1827e;
}  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
} 
nav ul li {
    display: inline-block;
} 
nav ul li a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
} 
nav ul li a:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
}
.image1 {
    width: 100%;
    height: 288px;
    margin-top: 32px;
}
.image1jpg {
    width: 100%;
    height: 288px;
    object-fit: cover;
    z-index: 1;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) ;
}
h1{
    color: white;
    margin-left: 128px;
    margin-top: -192px;
    font-weight: 1;
    opacity: 1;
    font-size: 64px;
}
h2{
    color: white;
    margin-left: 148px;
    margin-top: 8px;
    font-weight: 1;
}
footer {
    margin-top: 64px;
    background-color: #444;
    color: #fff;
    padding: 40px;
    text-align: center;
    bottom: 0;
  }
  
footer p {
    text-align: center;
    width: 100%;;
    margin: 0;
    padding: 0;
  }
.h2 {
    padding-top: 128px;
    margin-left: 128px;
    margin-right: 128px;
    text-align: center;
}
.flex1 {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}
.dlaczego1 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    background-color: #484848;
    border-radius: 64px;
}
.dlaczego1p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
}
.dlaczego1pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
}
.dlaczego2 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    margin-left: 128px;
    background-color: #484848;
    border-radius: 64px;
}
.dlaczego2p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
}
.dlaczego2pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
}
.dlaczego3 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    background-color: #484848;
    border-radius: 64px;
}
.dlaczego3p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
}
.dlaczego3pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
}
.dlaczego4 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    margin-left: 128px;
    background-color: #484848;
    border-radius: 64px;

}
.dlaczego4p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
}
.dlaczego4pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
}
.dlaczegomy {
    height: 96px;
    width: 512px;
    background-color: #f1827e;
    border-radius: 25px;
    margin: auto;
    margin-top: 48px;
}
.dlaczegomyp {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
    line-height: 96px;
}
.ready {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 64px;
}
.cars {
    margin-top: 64px;
    height: 96px;
    width: 512px;
    border-radius: 25px;
    background-color:#f1827e;
    font-size: 64px;
    line-height: 96px;
    text-decoration: none;
    border: none;
    display: block;
    background: radial-gradient(circle, rgb(241, 127, 118) 0%, rgb(241, 127, 118) 100%);
}
.carsp {
    margin-top: 64px;
    text-align: center;
    color: #f1827e;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #00ccff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #00ccff
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f1827e;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#button {
    display: block;
    margin: auto;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 128px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}
@media only screen
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
.h2 {
    margin-left: 64px;
    margin-right: 64px;
    }
.glow-on-hover {
    width: 440px;
    height: 100px;
    font-size: 48px;
    }
label::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 64px;
    margin-top: 100px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}
@media (max-width: 768px) {
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f1827e;
    z-index: 1;
    }
label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    }
.h2 {
    margin-left: 64px;
    margin-right: 64px;
    }
.glow-on-hover {
    width: 440px;
    height: 100px;
    font-size: 48px;
    }
label::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    box-shadow:
      0 7px 0 0 #fff,
      0 14px 0 0 #fff;
    }
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #484848;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
nav li {
    margin: 10px 0;
    }
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    }
#menu-toggle:checked ~ nav {
    left: 0;
    }
#menu-toggle {
    height: 0;
    width: 0;
    }
}
@media (max-width: 1427px) {
.flex1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    }
.dlaczego1 {
    width: 650px;
    height: 512px;
    background-color: #484848;
    border-radius: 64px;
    align-items: center;
    margin: 0;
    margin-top: 64px;
    }
.dlaczego1p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
    }
.dlaczego1pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
    }
.dlaczego2 {
    width: 650px;
    height: 512px;
    background-color: #484848;
    border-radius: 64px;
    margin: 0;
    margin-top: 64px;
    }
.dlaczego2p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
    }
.dlaczego2pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
    }
.dlaczego3 {
    width: 650px;
    height: 512px;
    margin-top: 64px;
    background-color: #484848;
    border-radius: 64px;
    }
.dlaczego3p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
    }
.dlaczego3pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
    }
.dlaczego4 {
    width: 650px;
    height: 512px;
    background-color: #484848;
    border-radius: 64px;
    margin: 0;
    margin-top: 64px;
    }
.dlaczego4p {
    padding: 64px;
    font-size: 64px;
    font-weight: 700;
    }
.dlaczego4pp {
    margin: 64px;
    margin-top: -48px;
    font-size: 28px;
    }
}
